/*============================================
| Color
============================================*/

$accent-color-1: #00c58e;
$accent-color-2: #108775;
$heading-color: #000;
$text-color: #333;
$text-color-dark: #000;
$text-color-light: #696969;
$text-color-gray: #abacbf;

$vue-green: #42b883;
$vue-black: #35495e;

$border-color: #eee;
$table-row-even-color: #fafafa;

/*============================================
| Background
============================================*/

$body-bg-alt: #f6f5f7;

/*============================================
| Typography
============================================*/

$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco) -apple-system,
  // Chrome < 56 for macOS (San Francisco) BlinkMacSystemFont,
  // Windows "Segoe UI",
  // Android Roboto,
  // Basic web fallback "Helvetica Neue",
  Arial,
  // Linux
    "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
    sans-serif,
  // Emoji fonts
    "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$proxima-nova: "Proxima Nova", $font-family-sans-serif;
$nunito: "Nunito", $font-family-sans-serif;
$serif: "Merriweather", $nunito;

/*============================================
| Width
============================================*/

$article-nav-width: rem(300px);

/*============================================
| Box Shadow
============================================*/

$box-shadow-default: 0 0 rem(4px) rem(2px) rgba(0, 0, 0, 0.1);

/*============================================
| Text Shadow
============================================*/

$text-shadow-white: 0 rem(2px) rem(3px) rgba(black, 0.5);

/*============================================
| z-index
============================================*/

$z-index-navbar: 8;
