@media (prefers-color-scheme: dark) {
  /**
   * Dark mode
   *
   * https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
   */
  body {
    background: #222831;
    color: #eee;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  .c-navbar__brand,
  .c-social-media__name,
  .c-portfolio__stats dt,
  .c-pagination__link-label,
  .c-table th {
    color: #e0e0e0;
  }

  .c-footer__copyright::after {
    color: #1e242c;
  }

  .c-navbar {
    background: #121212;
  }

  .c-navbar__menu-link::after {
    background-color: #36373d;
  }

  hr {
    background-color: #393e46;
  }

  .c-table tr:nth-child(even),
  .c-table thead tr {
    background-color: #393e46;
  }

  .c-table th,
  .c-table td {
    border-color: #393e46;
  }

  .section--contact-copy,
  .c-social-media {
    background-color: rgba(0, 197, 142, 0.1);
  }

  .c-social-media {
    border-color: #108775;
  }

  .c-form__control,
  .c-search-input {
    background-color: #222831;
    border-color: #222831;
    color: #fff;
  }

  .c-search-input {
    &:focus {
      // box-shadow: 0 0 0 0.125rem #108775;
      box-shadow: none;
    }
  }

  .c-navbar__nav {
    @media (max-width: 767px) {
      background-color: #222831;
      border-color: #121212;
    }
  }

  .u-bg-gray-dark {
    background-color: #222831;
  }

  .c-portfolio-card {
    background-color: #393e46;
  }

  .c-blog-post {
    background-color: #263238;
    border-color: rgba(0, 197, 142, 0.1);
  }
}
