.c-article-nav {
  ul {
    padding: 1rem;
    border: 1px solid #eee;
    list-style-type: decimal;
    padding-left: 30px;
    position: sticky;
    top: 1rem;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}