.c-article-nav {
  &__title {
    border-bottom: rem(1px) solid $border-color;
    color: $text-color-dark;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: rem(1px);
    padding: rem(16px);
    text-transform: uppercase;

    @media (min-width: 361px) {
      padding: rem(16px) rem(24px) rem(16px);
    }
  }

  &__menu {
    padding: rem(16px);

    @media (min-width: 361px) {
      padding: rem(16px) rem(24px);
    }
  }
}
