.l-article {
  display: grid;
  margin: rem(40px) 0;
  background-color: #fff;
  // border: rem(1px) solid $border-color;
  border-radius: rem(4px);

  // @media (min-width: 768px) {
  //   grid-template-columns: rem($article-nav-width) 1fr;
  // }
}

.l-article__aside {
  border: rem(1px) solid $border-color;
  background-color: #fff;
  margin-bottom: rem(32px);
  // position: sticky;
  // top: 0;
  // z-index: 1;

  // @media (min-width: 768px) {
  //   border-bottom: 0;
  //   border-right: rem(1px) solid $border-color;
  // }
}

.c-article {
  width: 100%;
  // overflow: hidden;
  // padding: rem(16px);
  
  // @media (min-width: 361px) {
  //   padding: rem(32px);
  // }

  &__title {
    font-size: rem(48px);
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 rem(20px);
  }

  &__description {
    color: #abacbf;
    font-size: rem(19px);
    margin: rem(16px) 0;
  }

  &__featured-img {
    display: block;
    max-width: 100%;
  }

  &__updatedat {
    color: #abacbf;
    font-style: italic;
  }  
}