.c-breadcrumb {
  padding: rem(10px) 0;
  display: none;
  // line-height: 1;
  // background-color: #fafafa;
  // border-bottom: rem(1px) solid $border-color;

  @media (min-width: 768px) {
    display: block;
  }

  &__link {
    color: $accent-color-2;
    display: inline-block;
    position: relative;
    line-height: 1;
    // text-decoration: underline;

    &::after {
      content: ">";
      // width: rem(1px);
      // height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      // background-color: $text-color-gray;
      // transform: rotate(20deg);
      transform: translateX(50%);
    }
    
    &--disabled {
      color: $text-color-gray;
      cursor: auto;
      pointer-events: none;
      // opacity: .5;
    }

    &:not(:last-child) {
      padding-right: rem(16px);
      margin-right: (16px);
    }

    &:last-child::after {
      display: none;
    }
  }
}