.c-blog-post {
  background-color: #fff;
  border: rem(1px) solid $border-color;
  padding: rem(16px);
  transition: .15s;
  position: relative;
  display: grid;
  grid-gap: rem(32px);
  border-radius: rem(4px);

  &:hover {
    background-color: rgba($accent-color-1, .1);
    border-color: rgba($accent-color-2, .1);;
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__title {
    font-size: rem(22px);
    line-height: 1.3;
    margin: 0;
    margin-bottom: rem(8px);
    display: inline-flex;
    position: relative;
    z-index: 1;

    background-image: linear-gradient(45deg, $accent-color-1, $accent-color-2);
    background-clip: text;
    -webkit-background-clip: text;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;    
  }

  &__text {
    margin: 0;
  }

  &__title-link {
    display: inline-block;
  }

  &__by {
    color: #abacbf;
    font-style: italic;
  }

  &__date {
    color: #abacbf;
    font-style: italic;
    white-space: nowrap;
    margin-top: auto;  
  }
}