.c-breadcrumb {
  display: none;
  padding: rem(10px) rem(16px);
  // line-height: 1;
  // background-color: #fafafa;
  // border-top: rem(1px) solid $border-color;

  @media (min-width: 768px) {
    display: block;
    padding: rem(24px) rem(32px);
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px) 0;
    justify-content: center;
  }

  &__link {
    color: $accent-color-2;
    display: inline-block;
    font-size: rem(16px);
    line-height: 1;
    position: relative;
    // text-decoration: underline;

    &::after {
      content: ">";
      // width: rem(1px);
      // height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      // background-color: $text-color-gray;
      // transform: rotate(20deg);
      transform: translateX(50%);
    }

    &--disabled {
      color: $text-color-gray;
      cursor: auto;
      pointer-events: none;
      // opacity: .5;
    }

    &:not(:last-child) {
      margin-right: rem(16px);
      padding-right: rem(16px);
    }

    &:last-child::after {
      display: none;
    }
  }
}
