.c-blog-post-banner {
  padding: rem(60px) 0;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
  text-align: center;
  
  @media (min-width: 768px) {
    padding: rem(100px) 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle, rgba($accent-color-1, .9), rgba($accent-color-2, .9));
    z-index: -1;
  }

  &__title {
    color: #fff;
    font-size: rem(48px);
    line-height: 1.3;
    margin: 0;
    margin: rem(16px) 0 rem(32px);

    @media(max-width: 499px) {
      font-size: rem(32px);
    }
  }

  &__date {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }  
}