.c-banner {
  background-image: radial-gradient(
    circle,
    rgba($accent-color-1, 0.9),
    rgba($accent-color-2, 0.9)
  );
  padding: rem(60px) rem(16px);

  @media (min-width: 500px) {
    padding: rem(64px) rem(32px);
  }

  &__title {
    color: #fff;
    font-size: rem(32px);
    margin: 0;
    text-align: center;

    @media (min-width: 500px) {
      font-size: rem(48px);
    }
  }
}
