.c-custom-ul {
  list-style: none;

  li {
    position: relative;
    padding-left: rem(17px);
  
    &::before {
      content: "";
      width: rem(6px);
      height: rem(6px);
      background-color: $accent-color-2;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: rem(10px);      
    }
  }
}