.c-copy {
  max-width: 700px;

  ul,
  ol {
    & > li:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }

  p {
    font-size: rem(16px);
    margin: rem(24px) 0;

    @media (min-width: 768px) {
      font-size: rem(18px);
    }
  }

  p:not(:first-child) {
    margin-top: rem(24px);
  }

  p:not(:last-child) {
    margin-bottom: rem(24px);
  }
}
