.c-feature-figure-container {
  margin-top: rem(64px);
  display: grid;
  grid-gap: rem(64px);

  @media (min-width: 768px) {
    grid-gap: rem(96px);
  }
}

.c-feature-figure {
  display: grid;
  grid-gap: rem(48px);
  align-items: center;

  @media (min-width: 500px) {
    grid-template-columns: rem(100px) 1fr;
    grid-gap: rem(64px);
  }

  &:nth-child(odd) {

    @media (min-width: 500px) {
      grid-template-columns: 1fr rem(100px);

      .c-feature-figure__img-container {
        order: 2;
      }
    }
  }

  &__img-container {
    max-width: 6rem;

    img {
      max-width: 100%;
    }
  }

  &__svg-container {
    line-height: 0;

    svg {
      max-width: 100%;
      height: auto;
    }
  }
}