.c-footer {
  margin-top: auto;
  // border-top: rem(1px) solid $border-color;

  &__copyright {
    align-items: center;
    display: flex;
    font-size: rem(14px);
    justify-content: center;
    overflow: hidden;
    padding: rem(24px) 0;
    position: relative;
    text-align: center;

    @media (min-width: 768px) {
      font-size: rem(16px);
      min-height: rem(80px);
      padding: 0;
    }

    @media (min-width: 1280px) {
      min-height: rem(96px);
    }

    &::after {
      bottom: rem(-13px);
      color: #f7f7f7;
      content: "Saabbir Hossain";
      display: none;
      font-size: rem(73px);
      font-weight: 900;
      line-height: 1;
      overflow: hidden;
      position: absolute;
      text-transform: uppercase;
      white-space: nowrap;
      z-index: -1;

      @media (min-width: 768px) {
        display: block;
      }

      @media (min-width: 1200px) {
        font-size: rem(83px);
      }
    }
  }

  &__copyright-text {
    color: $text-color-gray;
    margin: 0;
  }
}
