.c-contact-form-container {
  background-color: rgba(0, 197, 142, 0.1);
  border-radius: rem(4px);
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  overflow: hidden;
  padding: rem(48px) rem(32px);

  @media (min-width: 992px) {
    min-width: 700px;
  }
}

.c-form {
  &__control {
    background-color: #fff;
    border: rem(1px) solid #ccc;
    display: block;
    min-height: rem(40px);
    min-height: rem(50px);
    padding: rem(6px) rem(16px);
    transition: 0.2s;
    width: 100%;

    &:focus {
      border-color: $accent-color-1;
      box-shadow: 0 0 rem(8px) rem(2px) rgba($accent-color-2, 50%);
      outline: rem(1px) solid $accent-color-2;
    }
  }

  textarea.c-form__control {
    min-height: rem(150px);
    padding: rem(16px);
    resize: vertical;

    // @include scrollbar-styles;
  }

  &__label {
    display: inline-block;
    font-size: rem(14px);
    font-weight: bold;
    letter-spacing: rem(1px);
    margin: 0 0 rem(6px);
    text-transform: uppercase;

    span {
      color: #abacbf;
    }
  }

  &__group {
    &--required {
      position: relative;

      &::after {
        color: #abacbf;
        content: "[Required]";
        font-size: 0.8em;
        margin-left: 1em;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(30px);
    }
  }

  &__submit-button {
    font-size: rem(16px);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #abacbf;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #abacbf;
    opacity: 1;
  }
  ::-ms-input-placeholder {
    /* IE 10+ */
    color: #abacbf;
    opacity: 1;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: #abacbf;
    opacity: 1;
  }
}

.c-loader {
  animation: spin 2s linear infinite;
  border: rem(4px) solid #fff;
  border-radius: 50%;
  border-top: rem(4px) solid $accent-color-2;
  height: rem(20px);
  margin-left: rem(10px);
  width: rem(20px);
}
