.c-footer {
  margin-top: auto;
  border-top: rem(1px) solid $border-color;

  &__copyright {
    display: flex;
    align-items: center;
    padding: rem(24px) 0;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: rem(16px);

    @media (min-width: 768px) {
      padding: 0;
      min-height: rem(80px);
    }

    @media (min-width: 1440px) {
      min-height: rem(96px);
    }

    &::after {
      content: "Saabbir Hossain";
      position: absolute;
      bottom: rem(-13px);
      font-size: rem(73px);
      line-height: 1;
      color: #f7f7f7;
      font-weight: 900;
      overflow: hidden;
      z-index: -1;
      text-transform: uppercase;
      white-space: nowrap;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      @media (min-width: 1200px) {
        font-size: rem(83px);
      }
    }
  }

  &__copyright-text {
    color: $text-color-gray;
    margin: 0;
  }
}
