.c-navbar {
  padding: rem(16px) 0;
  background-color: #fff;
  border-bottom: rem(1px) solid $border-color;
  position: sticky;
  top: 0;
  z-index: $z-index-navbar;

  @media (min-width: 1440px) {
    padding: rem(24px) 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16px);

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: rem(215px) 1fr;
    }
  }

  &__trigger {
    cursor: pointer;
    font-size: 1.3em;
    display: block;
    line-height: 1;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      position: absolute;
      left: 0;
      top: calc(100% + 1px);
      max-height: calc(100vh - 81px);
      background-color: #fff;
      z-index: 1;
      border-bottom: rem(1px) solid #eee;
      justify-content: flex-start;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.2s;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      overflow-y: auto;

      &.is-open {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
      }
    }

    @media (max-width: 359px) {
      max-height: calc(100vh - 71px);
    }
  }

  &__brand {
    display: grid;
    grid-template-columns: rem(48px) 1fr;
    gap: rem(12px);
    align-items: center;
    color: $text-color-dark;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @media (min-width: 768px) {
      grid-template-columns: rem(60px) 1fr;
      gap: rem(16px);
    }
  }

  &__brand-img-container {
    width: rem(48px);
    height: rem(48px);
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: rem(60px);
      height: rem(60px);
    }
  }

  &__brand-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__brand-text {
    display: grid;
    font-size: rem(18px);
  }

  &__brand-text-name {
    font-weight: 700;
  }

  &__brand-text-role {
    font-size: 0.8em;
    color: $text-color-gray;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 767px) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      @media (min-width: 768px) {
        margin-right: rem(8px);
      }
    }
  }

  &__menu-link {
    padding: rem(16px);
    color: $text-color-gray;
    display: flex;
    align-items: center;
    position: relative;
    font-size: rem(16px);

    strong {
      margin-right: rem(8px);

      .c-navbar__menu--without-number & {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: rem(4px);
      background-color: $text-color-gray;
      left: rem(16px);
      right: rem(16px);
      display: block;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.3s;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: scaleX(1);
      }
    }

    &.nuxt-link-active {
      color: $text-color-dark;
      // font-weight: bold;

      &::after {
        transform: scaleX(1);
        background: $accent-color-1
          linear-gradient(45deg, $accent-color-1, $accent-color-2);
      }
    }
  }
}
