.c-pagination {
  display: grid;
  grid-gap: rem(32px);
  justify-content: space-between;
  grid-template-columns: 1fr;

  @media (min-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(rem(264px), 1fr));
  }

  &__link-label {
    font-weight: bold;
    color: $text-color-dark;
    text-transform: uppercase;
    letter-spacing: rem(1px);
    margin-bottom: rem(16px);
  }

  &__next {
    text-align: right;
  }

  &__prev, 
  &__next {
    /* padding: 2rem; */
    /* border: 1px solid #eee; */
  }    
}