.c-search-input {
  background-color: #fff;
  border: 0;
  border-radius: rem(4px);
  display: block;
  height: rem(48px);
  margin-top: rem(32px);
  padding: rem(10px) rem(15px);
  transition: .15s;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 rem(2px) #108775, 0 0 0 rem(3px) #fff;
  }
}