.c-social-media-grid {
  display: grid;
  gap: rem(16px);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.c-social-media {
  align-items: center;
  background-color: #fff;
  border: rem(1px) solid $border-color;
  border-radius: rem(4px);
  color: $text-color-dark;
  display: grid;
  gap: rem(16px);
  grid-template-columns: rem(48px) 1fr;
  padding: rem(16px);

  &:hover,
  &:focus {
    background-color: rgba($accent-color-1, 0.1);
    border-color: rgba($accent-color-2, 0.1);
    text-decoration: none;
  }

  &__icon {
    display: block;
    height: 48px;
    line-height: 0;
    overflow: hidden;
    width: 48px;

    svg {
      height: 48px;
      width: 48px;
    }
  }

  &__icon-facebook svg {
    fill: #3b5998;
  }
  &__icon-twitter svg {
    fill: #1da1f2;
  }
  &__icon-linkedin svg {
    fill: #0077b5;
  }
  &__icon-github svg {
    fill: #24292e;
  }
  &__icon-codepen svg {
    fill: #0a0a08;
  }
  &__icon-stackoverflow svg {
    fill: #f48024;
  }

  img {
    width: rem(48px);
  }

  &__name {
    font-weight: bold;
  }

  &__handle {
    color: $text-color-gray;
    font-size: 0.8em;
    font-style: italic;
  }
}
