.c-social-media-grid {
  display: grid;
  grid-gap: rem(16px);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(32px);
  }
}

.c-social-media {
  border: rem(1px) solid $border-color;
  display: grid;
  align-items: center;
  grid-gap: rem(16px);
  grid-template-columns: rem(48px) 1fr;
  padding: rem(16px);
  border-radius: rem(4px);
  color: $text-color-dark;

  &:hover,
  &:focus {
    background-color: rgba($accent-color-1, .1);
    border-color: rgba($accent-color-2, .1);
    text-decoration: none;
  }

  &__icon {
    display: block;
    line-height: 0;
  }

  &__icon-facebook svg { fill: #3b5998; }
  &__icon-twitter svg { fill: #1da1f2; }
  &__icon-linkedin svg { fill: #0077b5; }
  &__icon-github svg { fill: #24292E; }
  &__icon-codepen svg { fill: #0A0A08; }
  &__icon-stackoverflow svg { fill: #f48024; }
  
  img {
    width: rem(48px);
  }

  &__name {
    font-weight: bold;
  }

  &__handle {
    font-size: .8em;
    font-style: italic;
    color: $text-color-gray;
  }
}