.c-search-input {
  padding: rem(10px) rem(15px);
  border: 0;
  background-color: #fff;
  width: 100%;
  border-radius: rem(4px);
  display: block;
  margin-top: rem(32px);
  transition: .15s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 rem(2px) #108775, 0 0 0 rem(3px) #fff;
  }
}