.c-table-responsive {
  overflow-y: hidden;
  overflow-x: auto;
}

.c-table {
  width: 100%;
  border-collapse: collapse;

  tr:nth-child(even), 
  thead tr {
    background-color: $table-row-even-color;
  }

  &__info-row {
    background-color: $accent-color-2 !important;
    color: #fff;

    td {
      font-size: 0.9em;
      letter-spacing: rem(1px);
      text-transform: uppercase;
    }
  }

  th {
    color: #000;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
  }

  th, td {
    border: rem(1px) solid $border-color;
    padding: rem(16px);
    text-align: left;
  }

  tfoot {
    color: #abacbf;
    font-style: italic;
  }
}