.c-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(-5px);
}

.c-tag {
  display: inline-flex;
  padding: rem(5px) rem(10px);
  border: rem(2px) solid $accent-color-2;
  border-radius: rem(5px);
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  font-size: rem(12px);
  font-weight: bold;
  margin: rem(5px);
  text-shadow: $text-shadow-white;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    border-color: #fff;
  }
}