.nuxt-content {
  // max-width: rem(700px);
  // margin: 0 auto;
  // font-family: $serif;
  line-height: 1.8;

  ul,
  ol {
    & > li:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  ul,
  ol,
  p,
  .c-table-responsive {
    &:first-child {
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-top: rem(24px);
    }

    &:not(:last-child) {
      margin-bottom: rem(24px);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    &:first-child {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-top: rem(48px);
    }

    &:not(:last-child) {
      margin-bottom: rem(24px);
    }

    &:hover .icon-link {
      opacity: 0.5;
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;
      padding-left: rem(17px);

      &::before {
        content: "";
        width: rem(6px);
        height: rem(6px);
        background-color: $accent-color-2;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: rem(13px);
      }
    }
  }

  ul,
  ol {
    @media (min-width: 768px) {
      padding-left: rem(16px);
    }
  }

  blockquote {
    border-left: rem(5px) solid $accent-color-2;
    padding: rem(15px) rem(15px) rem(15px) rem(20px);
    background-color: rgba($accent-color-2, 0.1);
    box-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, 0.1);
    border-radius: 0 rem(4px) rem(4px) 0;
    font-size: 1.1em;
    color: $accent-color-2;

    @media (min-width: 768px) {
      padding: rem(15px) rem(15px) rem(15px) rem(30px);
    }

    p {
      margin: 0;
    }
  }

  code {
    color: $accent-color-2;
    background-color: rgba($accent-color-2, 0.1);
    padding: rem(2px) rem(4px);
    border-radius: rem(4px);
  }

  code.inline {
    white-space: nowrap;
  }

  .nuxt-content-highlight code {
    white-space: pre;
    color: inherit;
    background-color: transparent;
  }

  .icon-link {
    background-image: url("~assets/images/svg/icon-hashtag.svg");
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    background-size: rem(20px) rem(20px);
    opacity: 0;
    position: absolute;
    left: rem(-25px);
    top: 50%;
    transform: translateY(-50%);
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    .l-main--work-slug & {
      display: none;
    }
  }
}

.nuxt-content-highlight {
  position: relative;

  .filename {
    position: absolute;
    right: rem(8px);
    top: rem(5px);
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    line-height: 1;
  }
}

.c-code-wrapper {
  pre[class*="language-"] {
    margin-top: 0 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(8px) rem(16px);
    background: #393e46;
    color: #e0e0e0;
  }

  &__copy {
    cursor: pointer;
  }
}
