.sections {
  flex-grow: 1;
}

.section {
  flex-grow: 1;
  padding: rem(48px) rem(16px);
  width: 100%;

  @media (min-width: 768px) {
    padding: rem(96px) rem(32px);
  }

  &__header {
    margin: 0 0 rem(32px);

    @media (min-width: 768px) {
      margin: 0 0 rem(48px);
    }
  }

  // &--contact-form {
  //   background-color: rgba(0, 197, 142, 0.1);
  // }

  &--contact-copy {
    background-color: $section-bg-gray-light;
  }
}
