// Proxima Nova Light
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(~assets/fonts/proxima-nova/light.woff) format('woff');
}

// Proxima Nova Regular
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~assets/fonts/proxima-nova/regular.woff) format('woff');
}

// Proxima Nova Semi Bold
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(~assets/fonts/proxima-nova/semi-bold.woff) format('woff');
}

// Proxima Nova Bold
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/fonts/proxima-nova/bold.woff) format('woff');
}