*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: $text-color-dark;
  font: normal 100%/1.5 $nunito;
  // word-spacing: 1px;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-color-dark;
  background-color: #fff;
  // background: #fafafa url(~assets/images/tile.jpg) left top repeat fixed;
}

blockquote {
  margin: 0;
}

a {
  color: $accent-color-1;
  text-decoration: none;
  transition: .15s;  

  &:hover,
  &:focus {
    color: $accent-color-2;
    text-decoration: underline;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, blockquote, figure {
  margin: 0;
}

hr {
  margin: rem(20px) 0;
  border: 0;
  height: rem(1px);
  background-color: $border-color;
}

strong {
  color: $text-color-dark;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color-dark;
}

.c-portfolio .nuxt-content .icon-link {
  display: none;
}