*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  // word-spacing: 1px;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 1024px) {
    width: 100vw;
    overflow-x: hidden;
  }
}

body {
  color: $text-color;
  background-color: #fff;
  // background: #fafafa url(~assets/images/tile.jpg) left top repeat fixed;

  @include scrollbar-styles;
}

blockquote {
  margin: 0;
}

a {
  color: $accent-color-2;
  text-decoration: none;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $accent-color-2;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  li ul,
  li ol {
    margin-top: rem(10px) !important;
  }
}

ol {
  padding-left: rem(17px);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
  margin: 0;
}

hr {
  margin: 0;
  border: 0;
  height: rem(1px);
  background-color: $border-color;
}

strong {
  color: $text-color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-dark;
}

picture {
  display: block;
}
