.l-container {
  padding: 0 rem(16px);
  max-width: rem(932px);
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 rem(32px);
  }

  @media (min-width: 1024px) {
    width: rem(932px);
  }  

  &--sm {
    max-width: rem(760px);

    @media (min-width: 1024px) {
      width: rem(760px);
    }    
  }

  &--lg {
    max-width: rem(992px);

    @media (min-width: 1024px) {
      width: rem(992px);
    }    
  }  

  &--fluid {
    max-width: 100%;
  }
}

.l-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}