.l-container {
  padding: 0 rem(16px);
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1024px) {
    padding: 0 rem(32px);
    width: rem(960px);
  }

  &--sm {
    @media (min-width: 768px) {
      width: 736px;
    }
  }

  &--lg {
    @media (min-width: 1280px) {
      width: rem(1200px);
    }
  }

  &--fluid {
    width: 100%;
  }
}

.l-wrapper {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    min-height: 100vh;
  }
}

.l-copy {
  max-width: 700px;
  // margin-left: auto;
  // margin-right: auto;
}
