.l-container {
  padding: 0 rem(16px);
  max-width: rem(1200px);
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 rem(32px);
  }

  &--sm {
    max-width: rem(860px);
  }

  &--fluid {
    max-width: 100%;

    // @media (min-width: 1600px) {
    //   max-width: 90%;
    // }
  }
}

.l-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}