/*============================================
margin
============================================*/

.u-my-20 {
  margin: rem(20px) 0;
}

.u-my-40 {
  margin: rem(40px) 0;
}

/*============================================
margin-top
============================================*/

.u-mt-40 {
  margin-top: rem(40px);
}

.u-mt-20 {
  margin-top: rem(20px);
}

/*============================================
margin-right
============================================*/

/*============================================
margin-bottom
============================================*/

.u-mb-20 {
  margin-bottom: rem(20px);
}

.u-mb-30 {
  margin-bottom: rem(30px);
}

.u-mb-40 {
  margin-bottom: rem(40px);
}

/*============================================
margin-left
============================================*/

/*============================================
padding
============================================*/

/*============================================
padding-top
============================================*/

/*============================================
padding-right
============================================*/

/*============================================
padding-bottom
============================================*/

/*============================================
padding-left
============================================*/

.u-pl-0 {
  padding-left: 0;
}