/*============================================
margin
============================================*/

.u-my-20 {
  margin: rem(20px) 0;
}

.u-my-40 {
  margin: rem(40px) 0;
}

.u-my-48 {
  margin: rem(48px) 0;
}

.u-my-96 {
  margin: rem(96px) 0;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/*============================================
margin-top
============================================*/

.u-mt-8 {
  margin-top: rem(8px);
}

.u-mt-16 {
  margin-top: rem(16px);
}

.u-mt-20 {
  margin-top: rem(20px);
}

.u-mt-24 {
  margin-top: rem(24px);
}

.u-mt-32 {
  margin-top: rem(32px);
}

.u-mt-40 {
  margin-top: rem(40px);
}

.u-mt-48 {
  margin-top: rem(48px);
}

.u-mt-64 {
  margin-top: rem(64px);
}

.u-mt-96 {
  margin-top: rem(96px);
}

@media (min-width: 768px) {
  .u-mt-sm-48 {
    margin-top: rem(48px);
  }
}

/*============================================
margin-right
============================================*/

/*============================================
margin-bottom
============================================*/

.u-mb-16 {
  margin-bottom: rem(16px);
}

.u-mb-20 {
  margin-bottom: rem(20px);
}

.u-mb-24 {
  margin-bottom: rem(24px);
}

.u-mb-30 {
  margin-bottom: rem(30px);
}

.u-mb-32 {
  margin-bottom: rem(32px);
}

.u-mb-40 {
  margin-bottom: rem(40px);
}

.u-mb-64 {
  margin-bottom: rem(64px);
}

.u-mb-96 {
  margin-bottom: rem(96px);
}

/*============================================
margin-left
============================================*/

/*============================================
padding
============================================*/

.u-py-64 {
  padding: rem(64px) 0;
}

.u-py-40 {
  padding: rem(40px) 0;
}

.u-py-32 {
  padding: rem(32px) 0;
}

.u-py-48 {
  padding: rem(48px) 0;
}

/*============================================
padding-top
============================================*/

/*============================================
padding-right
============================================*/

/*============================================
padding-bottom
============================================*/

.u-pb-48 {
  padding-bottom: rem(48px);
}

/*============================================
padding-left
============================================*/

.u-pl-0 {
  padding-left: 0;
}
