@import "./spacing";

/*============================================
border-radius
============================================*/

.u-br-4 {
  border-radius: 4px;
}

/*============================================
background
============================================*/

.u-bg-fafafa {
  background-color: #fafafa;
}

/*============================================
text helpers
============================================*/

.u-text-center {
  text-align: center;
}

.u-text-serif {
  font-family: $serif;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-gray {
  color: $text-color-gray;
}

.u-text-capitalize {
  text-transform: capitalize;
}

/*============================================
flex helpers
============================================*/

.u-d-flex,
.u-d-f {
  display: flex;
}

.u-fg-1 {
  flex-grow: 1;
}

.u-fd-column {
  flex-direction: column;
}

.u-ai-center {
  align-items: center;
}

.u-jc-center {
  justify-content: center;
}

/*============================================
flex components
============================================*/

.u-space-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: rem(-16px);

  & > div {
    padding: rem(16px);
  }
}

/*============================================
grid helpers
============================================*/

.u-d-grid {
  display: grid;
}

.u-grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.u-grid-2-columns-from-500 {
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
}

.u-gap-16 {
  gap: rem(16px);
}

.u-gap-48-16 {
  gap: rem(48px) rem(16px);
}

.u-gap-32 {
  gap: rem(32px);
}

/*============================================
width
============================================*/

.u-w-full {
  width: 100%;
}

.u-maxw-700 {
  max-width: rem(700px);
}

.u-maxw-800 {
  max-width: rem(800px);
}

.u-maxw-960 {
  max-width: rem(960px);
}

/*============================================
text helpers
============================================*/

.u-text-caption {
  font-size: rem(16px);
  color: $text-color-gray;
  font-style: italic;
}

.u-text-right {
  text-align: right;
}
