@import "./spacing";

/*============================================
border-radius
============================================*/

.u-br-4 {
  border-radius: 4px;
}

/*============================================
background
============================================*/

.u-bg-fafafa {
  background-color: #fafafa;
}

/*============================================
text helpers
============================================*/

.u-text-center {
  text-align: center;
}

.u-text-serif {
  font-family: $serif;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-gray {
  color: $text-color-gray;
}

/*============================================
flex helpers
============================================*/

.u-space-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/*============================================
width
============================================*/

.u-w-full {
  width: 100%;
}

/*============================================
text helpers
============================================*/

.u-text-caption {
  font-size: rem(16px);
  color: $text-color-gray;
  font-style: italic;
}

.u-text-right {
  text-align: right;
}
