@import './spacing';

/*============================================
border-radius
============================================*/

.u-br-4 {
  border-radius: 4px;
}

/*============================================
background
============================================*/
.u-bg-fafafa {
  background-color: #fafafa;
}

/*============================================
text helpers
============================================*/
.u-text-center {
  text-align: center;
}

.u-text-serif {
  font-family: $serif;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-gray {
  color: $text-color-gray;
}


/*============================================
flex helpers
============================================*/
.u-space-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}