@import './spacing';

/*============================================
border-radius
============================================*/

.u-br-4 {
  border-radius: 4px;
}

/*============================================
background
============================================*/
.u-bg-fafafa {
  background-color: #fafafa;
}

/*============================================
text helpers
============================================*/
.u-text-center {
  text-align: center;
}

.u-text-serif {
  font-family: $serif;
}